@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">

        <div class="col-md-12">
            <img src="~/images/bg.png" class="img-responsive" style="height:450px;width:1200px;" />
        </div>
    </div>
</div>
<br/>
<hr/>
<hr />
<br />
<div class="container">
    <div class="row">

        <div class="col-md-6">
            <img src="~/images/a1.jpg" class="img-responsive" />
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <img src="~/images/a2.jpg" class="img-responsive" />

                </div>
                <div class="col-md-6">
                    <img src="~/images/a3.jpg" class="img-responsive" />
                </div>
                <br/>
                <div class="col-md-6">
                    <img src="~/images/a4.jpg" class="img-responsive" />
                </div>
                <div class="col-md-6">
                    <img src="~/images/a5.jpg" class="img-responsive" />
                </div>

            </div> 
           
        </div>

    </div>
</div>

<hr/>
<h1 align="center">  Fruits and Vegetables </h1>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img src="~/images/a6.jpg" class="img-responsive" />
        </div>

        <div class="col-md-3">
            <img src="~/images/a7.jpg" class="img-responsive"  />
        </div>
        <div class="col-md-3">
            <img src="~/images/a8.jpg"class="img-responsive"  />
        </div>


        <div class="col-md-3">
            <img src="~/images/a9.jpg" class="img-responsive" />
        </div>


    </div>
</div>