
@{
    ViewBag.Title = "CustomerDashboard";
}

<h2>Customer Dashboard</h2>

<a href="@Url.Action("Create","Sale")" class="btn btn-primary">Buy Product </a>

<hr/>

<a href="@Url.Action("Index","Home")" class="btn btn-danger">Click Here to Logout </a>